#preSignInSignInPage {
    width: 50%;
    margin:0 auto;
}

#preSignInRegisterPage {
    width: 50%;
    margin:0 auto;
}

#postSignInBooksPageCreateBookPage, #postSignInBooksPageEditBookPage, #postSignInBooksPageViewBookPage {
    width: 50%;
    margin:0 auto;
}

.crudButtons {
    cursor: pointer;
    color: white;
    background-color: #3b7fed;
}

.backToMyBooksViewProfilePageButtons, #backToMyBooksPageFromCreateBookPage, #backToAnyOfTheTwoBookPages {
    color: black;
    background-color: #04bfcc;
}