body {
    background-color: #fadf93;
}

#headingPage {
    color: #3b7fed;
    text-align: center;
}

#navigationPage {
    color: #3b7fed;
    cursor: pointer;
    float: left;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

#contentPage {
    border: 1px solid;
    overflow: hidden;
    text-align: center;
}

.navigationPageElements {
    padding-bottom: 20px;
}

.navigationPageElements:hover {
    color: black;
}

.regSignInputElements {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
}

.regSignButtons {
    width: 100%;
    color: white;
    background-color: #3b7fed;
    padding: 20px;
}

.underlinedText {
    color: #3b7fed;
    text-decoration: underline;
    cursor: pointer;
}